/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: #fff;
}

h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

a {
  color: #2f889a;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
    color: #2f889a;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}
button {
    cursor: pointer;
    outline: none;
}

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* -------------------------------- 

Main components 

-------------------------------- */
header[role=banner] {
  position: relative;
  height: 50px;
  background: #1B1B2B;
}

@media only screen and (min-width: 768px) {
  header[role=banner] {
    height: 80px;
  }
}

.menu-nav {
  float: left;
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-nav {
    display: block;
    margin-left: 5%;
  }

  .menu-nav > ul > li {
    float: left;
    text-align: center;
    height: 100%;
    padding: 27px 1px;
  }

  .menu-nav > ul > li a {
    color: #999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(100, 50, 21, 6);
  }

  .menu-nav > ul > li a:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 15px;
    color: #1b1b1b;
  }
}

@media only screen and (min-width: 992px) {
  .menu-nav > ul > li {
    padding: 27px 5px;
  }
}

.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-menu.svg") no-repeat center center;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFF;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(100, 50, 21, 6);
}
.main-nav a:hover {
  color: #1b1b1b;
  background: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 80px;
  }
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .main-nav li {
    display: inline-block;
    margin-left: 0.3em;
  }
  .main-nav li:nth-last-child(2) {
    margin-left: 0;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .main-nav a.cd-signup {
    background: #2f889a;
    border: none;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav a.cd-signin {
    margin-left: 2em;
  }
  .main-nav a.cd-signup {
    margin-left: 1em;
  }
}

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 1000;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher::after {
  clear: both;
  content: "";
  display: table;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

.profile-nav {
  float: right;
  margin-right: 5%;
  width: auto;
  height: 50px;
  cursor: pointer;
  position: relative;
}
.profile-nav > ul {
  height: 100%;
}
.profile-nav > ul > li{
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 1rem;
}
.profile-nav > ul > li a {
  display: inline-block;
  margin-top: 5px;
}
.profile-nav > ul > li a span {
  display: inline-block;
  margin-right: 1rem;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  transform: translateY(25%);
}
.profile-nav > ul > li a img {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  vertical-align: middle;
  background: #fff;
}
.profile-nav > ul > li .fa {
  font-size: 24px;
  margin-top: 13px;
  color: #FFFFFF;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #123456;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.3);
  background-clip: border-box;
}
.dropdown--userMenu {
  display: none;
  width: 200px;
  margin: 10px 0 0;
}
.dropdown--userMenu.is-visible {
  display: block;
}
.user-nav {
  margin: 10px 0;
}
.user-nav a {
  display: block;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
.user-nav a:hover {
  background-color: #d7d7d7;
}
@media only screen and (min-width: 768px) {
  .profile-nav {
    height: 80px;
  }
  .profile-nav > ul > li a {
    margin-top: 15px;
  }
  .profile-nav > ul > li a img {
    width: 50px;
  }
  .profile-nav > ul > li .fa {
    font-size: 30px;
    margin-top: 25px;
  }
  .dropdown {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .dropdown--userMenu {
    width: 350px;
    margin: 15px 0 0;
  }
}


/*************************************************
 * Home_out.php                                  *
 * Banner section                                *
*************************************************/
section#banner {
  text-align: center;
  color: #78116c;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#banner .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

section#banner .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

section#banner .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.btn-xl {
  background-color: #fed136;
  border-color: #fed136;
  font-size: 18px;
  padding: 20px 40px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  section#banner .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  section#banner .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
  }

  section#banner .intro-text .intro-heading {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

/*************************************************
 * post_trip.php                                 *
 * Post section                                  *
*************************************************/

#post .post-wrapper,
#annonce .annonce-wrapper,
#reservation .reservation-wrapper {
  border: 1px solid #c9c9c9;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  margin: 3rem auto;
  background: #ECF0F5;
}

#post .post-head,
#annonce .annonce-head,
#reservation .reservation-head {
  background: #383C45;
  font-size: 30px;
  color: #FFFFFF;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

#post .stepwizard {
  margin: 16px 0;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.setup-content h3 {
  font-size: 25px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#post .stepwizard .btn.disabled {
  opacity: 1;
}
.setup-content a.modify {
  color: #4aa2d0;
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 8px;
}
.setup-content a.modify:hover {
  color: #000000;
}
#formPostTrip #post_alert{
  clear: both;
  top: 20px;
}

/*************************************************
 * annonces.php                                  *
 * Annonce section                               *
*************************************************/
#annonce .annonce-wrapper,
#reservation .reservation-wrapper {
  background: #B7B7B7;
}
#annonce .annonce-body,
#reservation .reservation-body {
  padding: 1.5rem;
}
#annonce .card-header {
  position: relative;
}
#annonce .card-header .fa {
    font-size: 20px;
}
#annonce .card-header .popover-custom {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  line-height: 1.5;
  font-size: .875rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}
#annonce .card-header .popover-custom .arrow {
  position: absolute;
  display: block;
  width: .8rem;
  height: .4rem;
}
#annonce .card-header .popover-custom .arrow::before,
#annonce .card-header .popover-custom .arrow::after {
  content: "";
  position: absolute;
  display: block;
  border: .8rem solid transparent;
  border-top-width: 0;
  margin-left: 14.8125rem;
}
#annonce .card-header .popover-custom .arrow::before {
  top: -.8rem;
  border-bottom-color: rgba(0,0,0,.25);
}
#annonce .card-header .popover-custom .arrow::after {
  top: calc((.8rem - 1px) * -1);
  border-bottom-color: #fff;
}
#annonce [id|="collapse"] .media img {
    widows: 30px;
    height: 30px;
}
#annonce .passager-card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 12px 0;
}
#annonce .passager-card:not(:first-of-type) {
    border-top: 1px solid rgba(0,0,0,.125);
}

@media only screen and (min-width: 768px) {
    #annonce [id|="collapse"] .media img {
        widows: 50px;
        height: 50px;
    }
    
}

/*************************************************
 * message.php                                   *
 * Message section                               *
*************************************************/
#message {
  color: #000;
    height: ;
}
.message-head {
  margin: 10px 15px;
}
.message-title {
  color: #888;
  padding-left: 15px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d9d9d9;
}
#message .message-body {
  margin-top: -11px;
  height:  calc(91.7667px * 8);
}
#message .message-list {
    margin: 10px 15px;
    padding-top: 10px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: inherit;
    line-height: 1.41176471;
}
#message .message-list:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
#message .message-list-hd img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
#message .message-list-bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#message .message-list-bd h4 {
    font-size: 17px;
    line-height: 24px;
}
#message .message-list.r .message-list-bd h4 {
  font-weight: normal;
}
#message .message-list-bd .timeago {
    font-size: 13px;
}
#message .message-list-bd div {
    font-size: 15px;
    color: #818a91;
    margin-bottom: 0.25rem !important;
}
#message .message-footer {
    margin-top: 15px;
    margin-bottom: 20px;
}
#new-message .message-head,
#read-message .message-head {
    position: relative;
    margin: 10px 0;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #1c354e !important;
}
.message-back {
    position: absolute;
    top: 15px;
}
.message-head-title {
    margin: 0 88px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: auto;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
#new-message .message-title {
    font-size: 14px;
}
@media only screen and (min-width: 768px) {
    #new-message .message-head-title {
        font-size: 20px;
    }
    #read-message .message-body .lettre-head {
        font-size: 24px;
    }
}

#read-message .message-body .lettre-head div {
    padding: 12px 0;
    border-bottom: 1px solid #8c8c8c;
    font-size: 1rem;
}
#read-message .message-body .lettre-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*************************************************
 * profile.php                                   *
 * Profile section                               *
*************************************************/
.profile-head {
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 1.25em;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background: #3C4049;
    background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
    background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    line-height: 40px;
}
hr.cutline {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-top-color: #DDD;
  border-bottom: 1px solid #fff;
}
.profile-detail span {
  display: block;
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 8px;
}
.profile-detail .p-nom {
  font-weight: 600;
  font-size: 18px;
}
.profile-detail .p-role {
  color: #888;
}
.personal-info-header {
    height: 40px;
    line-height: 40px;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background-clip: border-box;
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}
.personal-info-header h3 {
    font-size: 16px;
    color: #555;
    margin-left: 10px   ;
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
.personal-info-content {
    padding: 20px 15px 15px;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.personal-info-content .control-label {
  float: left;
  margin-left: 15px;
  margin-bottom: 8px;
  margin-top: 11px;
}
.personal-info-content .form-group > div {
  display: inline-block;
  min-width: 150px;
}
@media only screen and (min-width: 340px) {
  .personal-info-content .control-label {
    text-align: right;
    width: 100px;
  }
  .personal-info-content button.save {
    margin-right: 8px;
  }
  .personal-info-content button.save + button {
    margin-left: 8px;
  }
}
@media only screen and (min-width: 576px) {
  .personal-info-content .control-label {
    width: 160px;
  }
}
@media only screen and (min-width: 992px) {
  .personal-info-content .control-label {
    width: 180px;
  }
}

/***************************************/
footer.site-footer {
  background: #2F3A49;
  height: 100px;
}